@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.card {
  height: 180px;
  width: 135px;
  background-color: #f4e9de;
  border-radius: 10px;
  display: inherit;
  margin: 10px 10px;
  color: #333;
  border: medium solid #998775;
  font-family: 'Source Sans Pro', sans-serif;
  animation-name: fade-in;
  animation-duration: 2s;
  box-shadow: 5px 5px 5px #888888;
}


.card:hover {
  background-color: #ccb7a3;
  cursor: pointer;
  opacity: 0.65;
}


h4 {
  margin-top: 30%;
  color: #796244;
}

.cardIcon {
  margin-top: 20%;
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 100 }
}
