@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.card {
  height: 180px;
  width: 135px;
  background-color: #f4e9de;
  border-radius: 10px;
  display: inherit;
  margin: 10px 10px;
  color: #333;
  border: medium solid #998775;
  font-family: 'Source Sans Pro', sans-serif;
  opacity: 100%;
}

.card:hover {
  background-color: #ccb7a3;
  cursor: pointer;
  opacity: 0.65;
}


h4 {
  margin-top: 30%;

}

.cardIcon {
  margin-top: 20%;
}
