.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;

}

.chart {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.barGraph {
  text-align: center;
}
